<!-- Toolbar -->
<div class="header">
  <h1>LOGIN</h1>
  <div class="spacer"></div>
</div>

<div class="main">
  <div class="from">
    <form (ngSubmit)="onSubmit()">
      <ul>
        <ol>
          <label for="name">Email:</label>
          <input type="email" name="email" [(ngModel)]="email" required />
        </ol>
        <ol>
          <label for="msg">Password:</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </ol>
      </ul>
      <ul class="button">
        <button type="submit">Aceptar</button>
      </ul>
      <ul class="button">
        <button type="reset">Cancelar</button>
      </ul>
    </form>
  </div>
  <div class="reto" *ngIf="result">
    <div class="reto" *ngIf="op">
      <app-codop></app-codop>
    </div>
    <div class="reto" *ngIf="servext">
      <app-servext></app-servext>
    </div>
    <div class="reto" *ngIf="combpal">
      <app-combpal></app-combpal>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
